# Ride Share Dataset

**Ride Share(Boston) Dataset Glossary**

|Variable|Description|
|---|---|
|Distance|Distance Between Source and Destination|
|cab_type|Uber or Lyft|
|time_stamp|epoch time when data was queried|
|destination|destination of the ride|
|source|the starting point of the ride|
|price|price estimated for the ride in USD|
|surge_multiplier|the multiplier by which price was increased, default 1|
|id|unique identifier|
|product_id|uber/lyft identifier for cab-type|
|name|visible type of the cab eg: Uber Pool, UberXL|

# **Import Libraries and Dataset**

## Import Libraries

In [ ]:
# Libraries to help with reading and manipulating data
import numpy as np
import pandas as pd

# Libraries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns

# to restrict the float value to 3 decimal places
pd.set_option('display.float_format', lambda x: '%.3f' % x)

## Import Dataset

In [ ]:
#import data as a pandas dataframe

# let colab access my google drive
from google.colab import drive
drive.mount('/content/drive')

# Access the .csv file in Google Drive folder. The file path must be correct
data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/AP CS Principles/RideShare/cab_rides.csv')

Mounted at /content/drive

# Data Check

## View the first and last rows of the dataframe

## Determine the number of entries in the dataframe

## Check the data types for each entry

### **Question 1: Epoch Time to Date Time**


1.   Google "epoch time" and explain what epoch time is in a text box below .
2.   Google how to convert "epoch time" to date time format.
3.   Convert the values in "time_stamp" to date time format and put them in a new column called "date".
4.   Drop the "time_stamp" column from the dataframe.

## Check for missing values

## Check for duplicate values and remove duplicate values if any exist

## Create a statistical summary of the numerical data

### **Question 2: What is the most frequent surge multiplier for the rides in this dataframe?**

### **Question 3: What is the average price of rides with Uber/Lyft in Boston?**

### **Question 4: What is the Interquartile Range(25% to 75%) in prices for rides?**

# **Exploratory Data Analysis**

## **Univariate Analysis**

### **Question 5: Plot Histograms and Box Plots For Each Of the Values With Numerical Values**

#### Distance

#### Price

#### Surge Multiplier

### **Question 6: Plot CountPlots For Columns With Catergorical Values**

#### Cab Type

#### Source

#### Destination

#### Name

#### Trip (Source to Destination)


- Create a new column called "trip"
- Assign the new column a string composed of the following concatenation:    **"source"** value + **" --> "** + **"destination"** value
- Create a countplot for the new column

Create new column and view table.

Create countplot of the "trip" column

#### Hours



Separate the hour in which the ride took place from the date time format
- Google how to extract the hour from the date time format
- Create a new column,"hour", and assign it the hour for each trip.

View the updated dataframe

Create a countplot, histogram, and boxplot for the new "hour" column

## **Bivariate Analysis**

### **Question 7: Create A Heatmap For Columns Numerical Values"**